*{
    margin:0;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
button{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size:x-large;
    border-radius: 15px;
    height: 60px;
    padding:10px 25px ;
    margin-top: 20px;
    width: 200px;
    border: 1px solid #38184b;
    color: white;
    background: linear-gradient(180deg,#6d0cc7,#6200ff);
    text-transform: uppercase;
    box-shadow:5px rgba(135, 20, 212, 0.507);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: auto;
}
.logo h1{
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    color: azure;
    padding-top: 2px;
    display: flex;
    align-items: center;
    font-weight: 600;
}
section#home{
    height: 100vh;/*view*/
    background: linear-gradient(90deg, rgb(37, 3, 51) 0%, rgb(59, 10, 99) 50%, rgb(37, 3, 51) 100%);
    padding-left: 180px;
    padding-right: 180px;
}
section#home header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
section#home header div h1{
    color:white;
}
section#home header nav ul{
    display:flex;
    gap: 60px;
    margin-top: 25px;
    
}
section#home header nav ul li{
    list-style: none;
}
section#home header nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s;
}
section#home header nav ul li a:hover{
    color: #6200ff;
}
section#home #content{
    display:flex;
    color:white;
}
section#home #content div{
    flex:1;
}
section#home #content h2{
    width: 98%;
    font-size: 6rem;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    margin-top: 100px;
}
section#home #content p{
    width: 98%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 50px;
}
/*MySection*/
.hero-section {
    display: flex;
    padding: 150px 10px;
    gap: 50px;
}
.hero-content h1 {
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 1.5;
}
.hero-content p {
    font-size: 2rem;
    max-width: 80rem;
    line-height: 1.6;
}
.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.btn-primary, .btn-secondary {
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
}
.btn-primary {
    background-color: linear-gradient(180deg,#6d0cc7,#6200ff);
    color: #fff;
    transition: background-color 0.3s;
}
.btn-secondary {
    background:  rgb(37, 3, 51);
    color: #fff;
    border-color: #A080F0;
    transition: background-color 0.3s;
}
.btn-secondary:hover {
    background-color: rgba(160, 128, 240, 0.1);
}
.hero-image {
    position: relative;
    width: 65rem;
    height: 65rem;
    /*border-radius: 50%;*/
    background: radial-gradient(circle, rgba(185, 110, 236, 0.527) 0%, rgba(18, 10, 47, 0) 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    margin-top: -45px;
}

.hero-image img {
    max-width: 40rem;
    height: 40rem;
    border-radius: 50%;
    z-index: 2; /* Asegura que la imagen esté por encima del brillo */
}
#line{
    width: 100%;/*view*/
    height: 150px;
    margin-top: -150px;
    background-color: #6d0cc7;
}
